<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles.css")
        link(rel="stylesheet", href="reset.css")
    body
        .content
            .main
                .destaque
                    .card
                        img(src='./img/Bolsonaro2.jpg')
                        .ballon
                            h4 Título
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nulla non tellus malesuada volutpat. 
                    .card
                        img(src='./img/Bolsonaro2.jpg')
                        .ballon
                            h4 Título
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nulla non tellus malesuada volutpat. 
                    

                .sub
                    .noticia
                        img(src='./img/BolsonaroDoria1.jpg')
                        .ballonlateral
                            h4 Título
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nulla non tellus malesuada volutpat. 
                    .noticia
                        img(src='./img/Bolsonaro2.jpg')
                        .ballonlateral
                            h4 Título
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nulla non tellus malesuada volutpat. 
                    .noticia
                        img(src='./img/Bolsonaro2.jpg')
                        .ballonlateral
                            h4 Título
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nulla non tellus malesuada volutpat. 
                    .noticia
                        img(src='./img/Bolsonaro2.jpg')
                        .ballonlateral
                            h4 Título
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nulla non tellus malesuada volutpat. 
                    
                a(href='#')
                    img(src="./img/buttonmore.svg", alt="button")
            .sidebar